<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>

  <br />

  <h2>Michael Williams</h2>

  <p>
    Michael Williams developed this web app. Through trail and error and help from his Ta's and his mentor, he was able to bring this website to life. This is his third web app in the course that he is enrolled in. 
  <p>
</div>